@charset "utf-8";
/* CSS Document */
img {
	margin-left: 5em;
}

.mySlides {
	border: 0.5px solid black;
    margin: auto;
}
p, h1 {
    text-align: center;
    font-family: Helvetica;
    margin-left: 100px;
    padding-right: 100px;
}
#content {
    border: 4px solid black;
    display: inline-block;
    margin: 10px 25px 10px 450px;
}
.SlideShow {
    text-align: center;
    margin: auto;
}
#left_align {
    text-align: left;
    border: 5px solid black;
    display: inline-block;
    margin: left;
    min-width: 400px;
    min-height: 400px;
    padding: 1px;
}
#right_align {
    text-align: right;
    border: 5px solid black;
    display: inline-block;
    padding-right: 20px 
    margin: right;
}
    