@charset "utf-8";
/* CSS Document */
h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
}
p {
    font-family: 'Lato', sans-serif;
    color: black;
}
img {
	margin-left: 5em;
}

.mySlides {
	border: 0.5px solid black;
}
img {
	margin-left: 5em;
}
#calendar {
	position: absolute;
	left: 438px;
	top: 369px;
	margin-left: -350px;
	width: 1239px;
	height: 762px;
}
#membertitle {
	font-size:40px;
	text-align: center;
	font-weight: bolder;
    background: rgb(145,166,209);
}
#memberclass {
	font-size:30px;
	text-align: center;
	font-weight: bold;
    background: rgb(145,166,209);
}
#student {
	font-size: 20px;
	text-align: center;
    background: rgb(145,166,209);
}
iframe {
	position: absolute;
	left: 687px;
	top: 363px;
	margin-left: -350px;
	width: 751px;
	height: 983px;
}
#box {
    border: 0.2em solid black;
    margin-top: 4em;
    width: 77.4em;
    margin-left: 14em;
    background: rgb(145,166,209);
    margin: auto;
}
#left_align div {
    padding-top: 2em;
}
#right_align div {
    padding-top: 2em;
}

#left_align p {
    text-align: center;
    border: 0.2em solid black;
    display: inline-block;
    float: left;
    margin-left: 80px;
    width: 700px;
    height: 600px;
    padding: 2px;
    position: relative;
    background: rgb(145,166,209);
    padding-top: 2px;
}
#right_align p {
    text-align: center;
    border: 0.2em solid black;
    display: inline-block;
    float: right;
    margin-right: 80px;
    width: 400px;
    height: 600px;
    padding: 1px;
    position: relative;
    background: rgb(145,166,209);
    padding-top: 2px;
    
}
#content {
    text-align: center;
    background: rgb(145,166,209);
    border: 0.2em solid black;
    margin-top: 10px;
    width: 77.4em;
    background: rgb(145,166,209); 
    color: black;
    margin: auto;
}
#content p {
    font-size: 18px;
}
#center {
    margin: auto;
    padding-top: 2em;
}